.header { 
	text-align: center;
	font-family: 'Bungee Shade', cursive;
	font-size: 50px; 
	color: #FF0000;
 }

 
body {
	background-position: top;
	background-image: url(../images/flag.png);

}

p { 
	font-weight: bold;
	font-family: 'Bungee Hairline', cursive;
	color: #FF0000;
	font-size: 25px;
 }

 .anyKey { 
 	text-align: center;
	padding-top: 50px;
	font-family: 'Bungee Shade', cursive;
	color: #87CAEB;
	font-size: 30px;
	text-decoration: underline;
  } 

.game { 
	border-width: 1px; 
	border-style: solid;
	border-color:  #87CAEB;
	height: 500px;
 }


.startOver { 
	text-align: center;
	font-family: 'Bungee Shade', cursive;
	font-size: 25px; 

 }
 .btn-primary { 
	background-color: #87CAEB;
  }


#answer { 
	text-align: center;
	font-size: 30px;
	padding-top: 200px; 

 }

.leftColumn{ 
	padding-top: 150px;
 }

 #guessed, #guessesLeft { 
	color: black;
  }
